@import "../../style/mixins";
@import "../../style/colors";

.content{
  position: fixed;
  top: 10vh;
  left: calc(50vw - 250px);
  width: 500px;
  height: 80vh;
  z-index: 10;
  border: 1px solid red;
  border-radius: 6px;
  background: #eae5d0;
  overflow-y: scroll;
  padding: 12px;

  & span{
    position: absolute;
    top: 4px;
    right: 6px;
  }

}

.is_open{
  display: none;
}