@import "mixins";
@import "colors";


body {
  background-color: $ambrosia_cake;
  font-family: Explora, cursive;
  //font-family: Archivo;
  border-radius: 8px;
}





main {
  height: calc(100vh - 140px);
  background: #a3b1d0;
}

footer {
  position: fixed;
  left: 0;
  width: 100%;
  background: $fresh_guacamole;
  bottom: 0;

  & img {
    width: 50px;
  }
}

.outlet{
  position: relative;
  height: 100vh;

  & .content{
    padding: 68px 16px 78px 16px ;
    min-height: 100%;
    position: relative;
  }

}