@import "../../style/mixins";
@import "../../style/colors";

.table {
  border-spacing: 10px;
  border-collapse: separate;
  width: 100%;

  & tr {

    & .title {
      min-width: 300px;
    }


    & td {
      overflow: hidden;
      @include fonts(400, 12px, 12px, $hot_pink);
      text-align: start;


      & img {
        width: 100px;
        height: 50px;
        object-fit: cover;
      }

      & svg {
        width: 20px;
        height: 20px;
        display: block;
      }
    }

  }
}